.vscode
.idea
*.env
*venv
*.DS_Store

# frontend

frontend/node_modules
frontend/.next
frontend/package-lock.json
frontend/yarn.lock

frontend/.env
frontend/.env.*
frontend/!.env.example

# admin

admin/node_modules
admin/package-lock.json
admin/.pnp
admin/.pnp.js

admin/coverage
#admin/build

admin/.DS_Store
admin/.env
admin/.env.local
admin/.env.development.local
admin/.env.test.local
admin/.env.production.local

admin/npm-debug.log*
admin/yarn-debug.log*
admin/yarn-error.log*

admin/.idea
admin/.idea/*

admin/yarn.lock

# api

api/.idea
api/*.iws
api/out/

api/logs
api/*.log
api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/lerna-debug.log*

api/node_modules/
api/.npm
api/.eslintcache
api/*.tgz
api/.env
api/package-lock.json
api/.DS_Store

api/.idea
api/.idea/*

api/yarn.lock

# scraper

scraper/__pycache__
scraper/venv